
.linkText {
  font-family: Helvetica, Sans-serif;
  color: #1000A4;
  font-size: 100%;
  letter-spacing: 1px;
  word-spacing: 2px;
}
.normalText{
  font-family: Helvetica, sans-serif;
  font-size: 100%;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #000000;
}
#bigHeader{
  height:50px;
  width:100%;
  background-color:#bbeebb;
}
a{
  color:black;
  text-decoration:none;
}
.headerItem{
margin-top: -1px;
padding-top: 10px;
position: absolute;
height: 40px;
background-color: #bbeebb;
transition-duration: 400ms;
}
.editUserBar{
margin-top: -1px;
padding-top:10px;
position:absolute;
height:40px;
background-color:#FFFFFF;
transition-duration: 400ms;
}

#search{
width: 25%;
background-color:transparent;
z-index:1;
}
#logo{
margin-left: 25%;
width: 50%;
text-align: center;
font-size: 2.2em;
padding-top: 5px;
height: 45px;
font-family: helvetica;
font-weight: bold;
font-style: italic;
}
#login{
width:120px;
padding-left:10px;
right:10px;
border-radius:10px;
height:30px;
margin-top:5px;
}
#rogueText{
margin-top:-3px;
position:absolute;
font-size:1em;
padding-left: 0px;
white-space:nowrap;
}
#login:hover{
background-color: #aaffaa;
}
#sneaky{
  position:absolute;
  height:50px;
  width:300px;
  margin-left:0px;
  margin-top:0px;
  background-color:#bbeebb;
  z-index:2;
}
#submit{
width:30px;
height:30px;
margin-top:0px;
padding-top:0px;
margin-left:230px;
position:absolute;
background-color:#99dd99;
border-style:none;
border-radius:100%;
}
#box{
height:20px;
background-color:#ddeedd;
border-style:none;
font-size:1em;
width:200px;
margin-top: 4px;
margin-left:15px;
position:absolute;
border-radius:5px;
border-width:1px;
border-color:black;
border-style:solid;
}
#magnifying{
  margin-top: 5px;
  height: 60%;
  width: 100%;
}
#profile{
  height: 30px;
  width: 30px;
  background-color: black;
  border-radius: 100%;
  position:absolute;
  right:10px;
  top:5px;
}

#rectangle{
    width:200px;
    height:650px;
    background:lightgray;
}

#pin{
  position: absolute;
  right:0;
  top: 0;
  margin-top: 75px;
  margin-right: 25px;
  height: 40px;
  width: auto;
}

#feed{
  position: absolute;
  right:0;
  top: 0;
  margin-top: 140px;
  margin-right: 25px;
  height: 40px;
  width: auto;
}

#leader{
  position: absolute;
  right:0;
  top: 0;
  margin-top: 205px;
  margin-right: 25px;
  height: 40px;
  width: auto;
}

#friends{
  position: absolute;
  right:0;
  top: 0;
  margin-top: 635px;
  margin-right: 25px;
  height: 40px;
  width: auto;
}

#profilepic{
  border-radius:100%;
  height:30px;
  width:30px;
  position:absolute;
  top:0px;
}

footer {
 position: absolute;
 text-align:center;
 bottom: 0;
 width: 100%;
 padding-bottom: 10px;
 padding-top: 10px;
 background-color:#bbeebb;
}
.connector{
  height:36px;
  width:50px;
  background-color:white;
  position:absolute;
  right:45px;
  border-top-style:solid;
  border-bottom-style:solid;
  border-color:#f25822;
  border-width:2px;
  z-index:-1;
}
#con1{
  top: 75px;
}
#con2{
  top:140px;
}
#con3{
  top:205px;
}
#con4{
  top:635px;
}
.blocker{
  height:35.5px;
  width:20px;
  background-color:white;
  right:70px;
  position:absolute;
  z-index:2;
}
#blo1{
  top:77.5px;
}
#blo2{
  top: 142px;
}
#blo3{
  top: 207px;
}
#blo4{
  top: 637.5px;
}
.bubble{
  height:300px;
  width:250px;
  border-color:#f25822;
  border-style:solid;
  border-width:2px;
  border-radius:10px;
  position:absolute;
  right:80px;
  background-color:white;
}
#bub1{
  top:75px;
}
#bub2{
  top:140px;
}
#bub3{
  top:205px;
}
#bub4{
  top:371px;
}
<<<<<<< HEAD
=======
#icoTop1{
  height:7px;
  width:20px;
  background-color:white;
  top:77.5px;
  right:48px;
  position:absolute;
  z-index:4;
}
#icoMid1{
  height:30px;
  width:15px;
  background-color:white;
  top:77.5px;
  right:55px;
  position:absolute;
  z-index:5;
}
#icoBot1{
  height:7px;
  width:20px;
  background-color:white;
  top:106px;
  right:48px;
  position:absolute;
  z-index:4;
}
#icoTop2{
  height:7px;
  width:20px;
  background-color:white;
  top:142.5px;
  right:48px;
  position:absolute;
  z-index:4;
}
#icoMid2{
  height:30px;
  width:15px;
  background-color:white;
  top:142.5px;
  right:57px;
  position:absolute;
  z-index:4;
}
#icoBot2{
  height:7px;
  width:20px;
  background-color:white;
  top:170.5px;
  right:48px;
  position:absolute;
  z-index:4;
}
#icoTop3{
  height:7px;
  width:20px;
  background-color:white;
  top:207.5px;
  right:48px;
  position:absolute;
  z-index:4;
}
#icoMid3{
  height:30px;
  width:15px;
  background-color:white;
  top:207.5px;
  right:56px;
  position:absolute;
  z-index:5;
}
#icoBot3{
  height:7px;
  width:20px;
  background-color:white;
  top:235px;
  right:48px;
  position:absolute;
  z-index:4;
}
#icoTop4{
  height:7px;
  width:20px;
  background-color:white;
  top:637.5px;
  right:48px;
  position:absolute;
  z-index:4;
}
#icoMid4{
  height:35px;
  width:15px;
  background-color:white;
  top:637.5px;
  right:55px;
  position:absolute;
  z-index:5;
}
#icoBot4{
  height:4px;
  width:20px;
  background-color:white;
  top:668.5px;
  right:48px;
  position:absolute;
  z-index:4;
}

#profilecircle {
  margin-left: 100px;
}

#profileimg {
  width: 250px;
  height: 250px;
  border-radius: 50%;

  object-fit: cover;
  object-position: center right;
}

#username {
  position: absolute;
  top: 0;
  margin-top: 185px;
  margin-left: 400px;
}

#bio {
  position: absolute;
  top: 0;
  margin-top: 250px;
  margin-left: 400px;
  margin-right: 200px;

}

#profilepin {
  margin-top: 50px;
  margin-left: 150px;
}

#safetycontent{
  margin-left: 100px;
  margin-right: 100px;
}
>>>>>>> 72a2de10a989a40201cb812cc13c175335d319b7
