
.signOut {
  position:absolute;
  left: 1135px;
  top: 5px;
}
.linkText {
  font-family:'Open Sans', sans-serif;
  color: #1000A4;
  font-size: 100%;
  letter-spacing: 1px;
  word-spacing: 2px;
}
.linkText1 {
  font-family: Helvetica, Sans-serif;
  color: #1000A4;
  font-size: 50%;
  letter-spacing: 1px;
  word-spacing: 2px;
}
.normalText{
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #000000;
}
.normalTextPins{
  font-family: 'Open Sans', sans-serif;
  font-size: 95%;
  color: #000000;
}
.red{
  color: #FE0101;
}
.normalTextAbout{
  font-family: 'Open Sans', sans-serif;
  font-size: 110%;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #000000;
}
.normalText1{
  font-family: 'Open Sans', sans-serif;
  font-size: 300%;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #000000;
}
#Indent1{
  position:absolute;
  left:120px;
}
#Indent3{
  position:absolute;
  left:750px;
  top:2px;
}
#Indent2{
  position:absolute;
  left:40px;
  top:12px;
}
.Indent4{
  position:relative;
  left:40px;
}
#bigHeader{
  position: absolute;
  top: 0;
  width:100%;
  height:100px;
  z-index: 2;
}

body{
  background-color: white;
}

a{
  color:black;
  text-decoration:none;
}
a:hover{
  color:black;
  text-decoration:none;
}
.headerItem{
margin-top: -1px;
padding-top: 10px;
position: absolute;
height: 40px;
}

#set{
  font-family: helvetica, sans-serif;
  font-weight:bold;
  text-align:center;
}

.uploadImage{
  height: 200px;
  top: 75px;
  left: 23px;
  width: 200px;
  position:absolute;

}

#picarrowleft{
  height: 50px;
  width: auto;
  position:absolute;
  left: 30px;
  top: 140px;
  z-index:5;
  filter: opacity(50%);
}

#picarrowright{
  height: 50px;
  width: auto;
  position:absolute;
  right: 30px;
  top: 140px;
  z-index: 5;
  filter: opacity(50%);
}

#insertphoto{
  height: 200px;
  width: 200px;
}

#imageBefore{
  height: auto;
  width: 200px;
  left: 10px;
  top: 50px;
  position:absolute;
}

#popup{
  width: 600px;
  height: 250px;
}

#posttitle{
  text-align:center;
  font-weight: bold;
}
#date{
  text-align: center;
  color: grey;
}

#controlbody{
  height: 180px;
  width: 180px;
  position: absolute;
  top: 70px;
  left: 230px;
  overflow-y: auto;
}

#bodycaption{
  text-align:center;
}

#imageAfter{
  height: auto;
  width: 200px;
  right: 10px;
  top: 50px;
  position:absolute;
}

#fileInput{
  left: 23px;
  position:absolute;
  width: 200px;
  top: 270px;
}

.editUserBar{
margin-top: 50px;
margin-left: 80px;
padding-top:10px;
position:absolute;
height:40px;

}

#search{
width: 25%;
background-color: transparent;
top: 0;
z-index: 3;
padding-top: 8px;
}

#greenyc {
height: 42px;
width: auto;
filter: grayscale(0%);
-webkit-filter: (0%);
}

#back{
  height: 25px;
  width: auto;
  margin-top: 20px;
  margin-left: 20px;
}
#greenyclogo{
  height: 40px;
  width: auto;
  margin-top: 20px;
  margin-left: 5px;
}

#pindeco{
  height: 30px;
  width: auto;
  margin-right: 7px;
  margin-bottom: 10px;
}

#logo{
margin-left: 25%;
width: 50%;
text-align: center;
padding-top: 7px;
height: 50px;
font-family: helvetica;
font-weight: bold;
font-style: italic;
top: 0;
z-index:2;
}

#login{
width:130px;
padding-left:10px;
right:10px;
border-radius:10px;
height:30px;
margin-top:5px;
top: 0;
z-index:2;
}

#login2{
width:130px;
padding-left:10px;
right:10px;
height:40px;
margin-top:5px;
z-index:2;
}
#login2{
width:130px;
padding-left:10px;
right: 10px;
height:40px;
margin-top:5px;
z-index:2;
}
#rightside{
  position:absolute;
  left:1145px;
}
a:hover{
  color:blue;
}

#rogueText{
margin-top:-7px;
position:absolute;
font-size:1em;
padding-left: 0px;
white-space:nowrap;
}

#submit{
width:20px;
height:20px;
margin-top: 7px;
padding-top:0px;
margin-left:215px;
position:absolute;
background-color: white;
background-image: url(images/feedsubmit.png);
background-size: 12px auto;
background-repeat: no-repeat;
background-position: center;
border-width: 1px;
border-color: black;
border-radius:100%;
z-index:2;
}
#box{
height:20px;
background-color:#DAF2F2;
border-style:none;
font-size:10px;
width:190px;
margin-top: 7px;
margin-left:20px;
position:absolute;
border-radius:5px;

z-index:2;
}
#magnifying{
  margin-top: -5px;
  height: 60%;
  width: 100%;
}
#profile{
  height: 20px;
  width: 20px;
  background-color: black;
  border-radius: 100%;
  position:absolute;
  right:10px;
  top:5px;
}

#rectangle{
    width:255px;
    height:700px;
    background:white;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 40px;
    z-index: 3;
}

#pin{
  position: absolute;
  right:0;
  top: 0;
  margin-top: 100px;
  margin-right: 25px;
  height: 40px;
  width: auto;
  z-index:2;
  cursor: pointer;
}
#map{
  height:1000px;
  width: 100%;
  position:absolute;
  top:40px;
  left:0px;
  z-index:0;
}
#emptypin{
  position:absolute;
  height: 25px;
  width: auto;
  z-index:5;
  right: 44px;
  top: 120px;
}
#emptypinicon{
  position: absolute;
  right:0;
  top: 0;
  margin-top: 100px;
  margin-right: 25px;
  height: 40px;
  width: auto;
  z-index:3;
}

#feed{
  position: absolute;
  right:0;
  top: 0;
  margin-top: 165px;
  margin-right: 25px;
  height: 40px;
  width: auto;
  z-index:2;
  cursor: pointer;
}

#leader{
  position: absolute;
  right:0;
  top: 0;
  margin-top: 230px;
  margin-right: 25px;
  height: 40px;
  width: auto;
  z-index:2;
  cursor: pointer;
}

#friends{
  position: absolute;
  right:0;
  top: 0;
  margin-top: 635px;
  margin-right: 25px;
  height: 40px;
  width: auto;
  z-index:2;
  cursor: pointer;
}

textarea{
  resize: none;
}

#safetyicon{
  position: absolute;
  right:0;
  top: 0;
  margin-top: 555px;
  margin-right: 25px;
  height: 40px;
  width: auto;
  z-index:4;
}

#ourmissionicon{
  position: absolute;
  left:0;
  top: 0;
  margin-top: 625px;
  margin-left: 25px;
  height: 40px;
  width: auto;
  z-index:4;
}

#aboutusicon{
  position: absolute;
  left:0;
  top: 0;
  margin-top: 560px;
  margin-left: 25px;
  height: 40px;
  width: auto;
  z-index:4;
}

#profilepic{
  border-radius:100%;
  height:25px;
  width:25px;
  position:absolute;
  top:2.5px;
  right:10px;
}

footer {
 position: absolute;
 text-align:center;
 bottom: 0;
 width: 100%;
 padding-bottom: 10px;
 padding-top: 10px;
 height:50px;
}
.connector{
  height:40px;
  width:50px;
  background-color:white;
  position:absolute;
  right:45px;
  border-top-style:solid;
  border-bottom-style:solid;
  border-color: black;
  border-width:2px;
  z-index:1;
}
#con1{
  top: 100px;
  border-style: solid;
}
#con2{
  top:165px;
  border-style: solid;
}
#con3{
  top:230px;
  border-style: solid;
}
#con4{
  top:660px;
  border-style: solid;
}
.blocker{
  height:35.5px;
  width:20px;
  background-color:white;
  right:70px;
  position:absolute;
  z-index:3;
}
#blo1{
  top:102.5px;
}
#blo2{
  top: 167px;
}
#blo3{
  top: 232px;
}
#blo4{
  top: 662.5px;
}
.bubble{
  height:300px;
  width:250px;
  border-color: black;
  border-style:solid;
  border-width:2px;
  border-radius:10px;
  position:absolute;
  right:80px;
  background-color:white;
  z-index:1;
}
#bub1{
  height: 380px;
  top:75px;
  padding-top: 35px;
  padding-left: 15px;
  padding-right: 15px;
}

#post{
  width: 246px;
  height: 25px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #1dbcb4;
  border:none;
  position:absolute;
  right:0px;
  bottom:0px;
  font-weight: bold;
  font-family: helvetica, sans-serif;
  color:white;
}

#caption{
  width: 200px;
  top: 300px;
  position: absolute;
  z-index:2;
  height:50px;
  left:23px;
}

#bub2{
  top:140px;
}
#bub3{
  top:205px;
  padding-top: 35px;
  padding-left:15px;
  padding-right: 15px;
}

#bub4{
  top:375px;
}

.cover{
  position: absolute;
  right:0;
  top: 0;
  height: 36px;
  width: auto;
  z-index:4;
}

#cover1{
  margin-top: 102px;
  margin-right: 44px;
}
#cover2{
  margin-top: 167px;
  margin-right: 44px;
}
#cover3{
  margin-top: 232px;
  margin-right: 44px;
}
#cover4{
  margin-right: 44px;
}

#add{
  position: absolute;
  right:0;
  top: 0;
  margin-right: 25px;
  margin-top: 15px;
  height: 15px;
  width: auto;
  z-index: 3;
}

#insertimage{
  width:200px;
  height:200px;
  margin-top: 12px;
  margin-bottom: 12px;
  background:gray;
}

#profilecircle {
  margin-left: 100px;
}
#missionimg {
  width: 250px;
  height: 250px;
}#profileimg {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center right;
}
#profileimg1 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center right;
  position:relative;
  bottom:80px;
  left:120px;
}
#profileimg2 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center right;
  position:relative;
  bottom:80px;
  left:180px;
}
#aboutText {
  position:relative;
  bottom:30px;
}
#username {
  position: absolute;
  top: 0;
  margin-top: 185px;
  margin-left: 400px;
}
#profLinks {
  position: absolute;
  top: 0;
  margin-top: 235px;
  margin-left: 400px;
}
#bio {
  text-align: left;
  margin-right: 200px;
  height: auto;
  width: 600px;
  overflow: auto;
  word-wrap: break-word;
}

#profilepin {
  margin-top: 50px;
  margin-left: 150px;
}
#safetycontent{
  margin-left: 100px;
  margin-right: 100px;
}

#safetyheader{
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}

#livecount{
  font-size: 30px;
  margin-top: 0px;
  color: #F26721;
}

#totalcount{
  font-size: 10px;
  margin-bottom: 0px;
}
.small{
  font-size: 12px;
}
.large{
  font-size: 50px;
  position:absolute;
  left:470px;
}

#signout{
  background-color: white;
  border-color: black;
  border-radius: 5px;
  position: fixed;
  bottom: 5;
}

#signoutbutactuallyprofile{
    background-color: white;
    border-color: black;
    border-radius: 5px;
    bottom: 5;
}

.edit{
  height: 15px;
  width: auto;
}

.bubbleheader{
  height:25px;
  width:246px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position:absolute;
  padding-top: 4px;
  background-color: #1DBCB4;
  color: white;
  z-index:3;
}

#bubheader1{
  margin-top: 77px;
  right: 0;
  margin-right: 82px;
}
#bubheader3{
  margin-top: 207px;
  right: 0;
  margin-right: 82px;
}
#bubheader4{
  right: 0;
  bottom: 352px;
  margin-right: 82px;
  z-index: 4;
}

.tab{
  height:250px;
  width:246px;
  position: absolute;
  z-index: 3;
  background-color:white;
  right:0;
  margin-top: 163px;
  margin-right: 82px;
  overflow: auto;
}


#tableft{
  height:27px;
  width:127px;
  border-top-left-radius: 10px;
  border-color: black;
  border-top-style:solid;
  border-left-style:solid;
  border-right-style:solid;
  border-width:2px;
  position:absolute;
  padding-top: 4px;
  background-color: #1DBCB4;
  color: white;
  z-index:4;
  margin-top: 140px;
  right: 0;
  margin-right: 203px;
}

#tabright{
  height:27px;
  width:125px;
  border-top-right-radius: 10px;
  border-color: black;
  border-top-style:solid;
  border-left-style:solid;
  border-right-style:solid;
  border-width:2px;
  position:absolute;
  padding-top: 4px;
  background-color: #1DBCB4;
  color: white;
  z-index:4;
  margin-top: 140px;
  right: 0;
  margin-right: 80px;
}

#line1{
  height: 2px;
  width: 125px;
  background-color: black;
  position: absolute;
  right: 0;
  top:0;
  margin-top: 165px;
  margin-right: 80px;
  z-index: 5;
}

#line2{
  height: 2px;
  width: 125px;
  background-color: black;
  position: absolute;
  right: 0;
  top:0;
  margin-top: 165px;
  margin-right: 205px;
  z-index: 5;
}

.texttype{
  width: 246px;
  height: 25px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: white;
  border:none;
  position:absolute;
  right: 0;
  top: 0;
  margin-right: 82px;
  margin-top: 413px;
  z-index: 4;
}

#profileback{
  height: 12px;
  position: absolute;
  bottom: 358px;
  right: 0;
  margin-right: 310px;
  z-index: 5;
}

#friendBio{
  right: 0;
  bottom: 0;
  margin-right: 0;
  position:relative;
  background-color:transparent;
  overflow-wrap: break-word;
  width: 200px;
  height: auto;
}
.page{
  height:271px;
  width:246px;
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;
  position: absolute;
  z-index: 3;
  background-color:white;
  right:0;
  bottom: 82px;
  margin-right: 82px;
  overflow: auto;
  padding-bottom: 10px;
  overflow-x: hidden;
}
.searchpage{
  height:241px;
  width:246px;
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;
  position: absolute;
  z-index: 3;
  background-color:white;
  right:0;
  bottom: 0px;
  margin-right: 0px;
  overflow: auto;
  padding-bottom: 10px;
  overflow-x: hidden;
}



#friendsearchbarDiv{
  height: 30px;
  width:246px;
  background-color:white;
  position: absolute;
  margin-right: 82px;
  right:0;
  bottom: 323px;
  z-index: 3;
}

.friendlistitem{
  width: 250px;
  height: 30px;
  background-color: white;
  margin-left: -26px;
  border-style: none;
  margin-top:-1px;
  text-align: left;
  padding-top: 5px;
  padding-left: 30px;
}

.friendlistitem:hover{
  background-color: #DAF2F2;
}

.messageItem{
  padding-left: 15px;
  padding-right: 15px;
  font-size: .8em;
}

.username{
  color: grey;
  font-size: .7em;
}
.timestamp{
  font-size: .7em;
  color: grey;
}
#friendprofile{
  background-color: lightgray;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 20px;
  margin-right: 180px;
  z-index: 5;
}

#frienduser{
  margin-left: 55px;
  margin-top: 25px;
  font-size: 20px;
}

#friendinfo{
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 30px;
  font-size: 12px;
}

.feedform{
  height: 15px;
  width: 202px;
  font-size: 10px;
  border-radius: 4px;
  border-style: none;
  margin-left: 10px;
  background-color:#DAF2F2;
}

#loading{
  height: 100%;
  width: 100%;
  background-color: white;
  position: absolute;
  z-index: 100;
  transition-duration: 400ms;
}

#loadingGif{
  position: absolute;
  top: 280px;
  left: 46%;
  filter: hue-rotate(20deg);
  height: 100px;
  width: auto;
}

#loadingText{
  position: absolute;
  font-size: 20px;
  top: 400px;
  left: 47%;
}

.feedbutton{
  height: 17px;
  width: 17px;
  margin-left: 7px;
  border-radius: 50%;
  border-width: 1px;
  border-color: black;
  background-color: white;
  background-image: url(images/feedsubmit.png);
  background-size: 12px auto;
  background-repeat: no-repeat;
  background-position: center;
}

#friendform{
  height: 17px;
  width: 202px;
  font-size: 10px;
  border-radius: 4px;
  border-style: none;
  background-color: #DAF2F2;
  margin-top: 12px;
  margin-left: 10px;
}

.sdg{
  height: 200px;
  width: auto;
  margin-left: 100px;
  position: absolute;
}

#goal11{
  margin-top: 40px;
}

#goal13{
  margin-top: 260px;
}

#missiontext{
  position: absolute;
  margin-left: 420px;
  margin-top: 90px;
  font-size: 25px;
  text-align: left;
}

#clickmore{
  position: absolute;
  margin-left: 420px;
  margin-top: 430px;
}

#hello{
  position: absolute;
  font-size: 30px;
  color: #F06823;
  font-style: oblique;
  margin-left: 70px;
  margin-top: 270px;

}

#aboutuscontent{
  position: absolute;
  font-size: 20px;
  margin-left: 70px;
  margin-top: 320px;
  text-align: left;

}

#earthdeco{
  position: absolute;
  height: 130px;
  width: auto;
  margin-left: 130px;
  margin-top: 160px;
}

#aboutusppl{
  position: absolute;
  margin-left: 570px;
  margin-top: 90px;
  margin-right: 100px;
  text-align: left;
}

#pplinfo{
  margin-bottom: 30px;
  margin-left: 30px;
  text-align: left;
}

.ournames{
  font-size: 25px;
}

.left{
  text-align: left;
}

#logodisplay{
  height: 280px;
  width: auto;
  position:absolute;
  margin-left: 100px;
  margin-top: 610px;
}

#logodescribe{
  position: absolute;
  margin-top: 700px;
  margin-left: 570px;
  margin-right: 100px;
  text-align: left;
  font-size: 20px;
}

#noPin{
  position: absolute;
  background-color: white;
  font-size: 1.5em;
  border-radius: 10px;
  height: 80px;
  width: 200px;
  transition-duration: 500;
  z-index: 10;
}

#nouser{
  font-size: 12px;
  float: left;
  margin-left:30px;
  margin-top: 10px;
}

#leftleader{
  text-align: left;
}
.leaflet-left{
  margin-top: 50px;
  margin-left: 17px;
}

#safetydeco{
  height: 750px;
  width: auto;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 280px;
  margin-right: -50px;
}

#intrologo{
  position: absolute;
  left: 0;
  margin-left: 28%;
  height: 130px;
  margin-top: 260px;
  z-index: 3;
}

#introbutton{
  position: absolute;
  left: 0;
  margin-left: 43.5%;
  margin-top: 360px;
  background-color: white;
  border-radius: 10px;
  border-color: black;
  z-index: 3;
}

#aboutintro{
  margin-top: 800px;
}

#missionintro{
  margin-top: 1000px;
}

#introbg{
  width: 100%;
  height: 94%;
  position: absolute;
  top: 0;
  left: 0;

  z-index: 1;
}

#down{
  position: absolute;
  z-index: 3;
  transform: rotate(270deg);
  width: 40px;
  margin-top: 52.5%;
  margin-left: 48%;
}

#scrolldown{
  position: absolute;
  z-index: 4;
  color: black;
  margin-top: 51%;
  margin-left: 41.5%;
}

#intropage{
  height: 2600px;
}
